flows/monitor.json
{
  "name": "Flow Monitor - WhatsApp Health",
  "nodes": [
    {
      "parameters": {
        "rule": "everyX",
        "unit": "minutes",
        "value": 5
      },
      "id": "1",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        160,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT brand FROM public.brand_config ORDER BY brand;"
      },
      "id": "2",
      "name": "Fetch Brands",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "credentials": {
        "postgres": "Supabase"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH brand_ctx AS (\n    SELECT set_config('app.brand', '{{$json.brand}}', true)\n), counts AS (\n    SELECT COUNT(*)::int AS unmetered_count\n    FROM public.vw_unmetered_24h\n    WHERE brand = current_setting('app.brand', true)\n      AND missing_credit\n)\nSELECT '{{$json.brand}}'::text AS brand,\n       counts.unmetered_count\nFROM counts;"
      },
      "id": "3",
      "name": "Fetch Unmetered Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        700,
        180
      ],
      "credentials": {
        "postgres": "Supabase"
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{Number($json.unmetered_count)}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "4",
      "name": "Unmetered Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        180
      ]
    },
    {
      "parameters": {
        "channel": "#alerts-whatsapp",
        "text": "=:rotating_light: {{$json.brand}} has {{$json.unmetered_count}} WhatsApp sends pending metering in the last 24 hours."
      },
      "id": "5",
      "name": "Slack Unmetered Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1220,
        180
      ],
      "credentials": {
        "slackApi": "Slack Bot"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH brand_ctx AS (\n    SELECT set_config('app.brand', '{{$json.brand}}', true)\n), events AS (\n    SELECT COUNT(*)::int AS total_events\n    FROM public.events_raw\n    WHERE brand = current_setting('app.brand', true)\n      AND created_at >= now() - interval '24 hours'\n), templates AS (\n    SELECT COUNT(*)::int AS total_templates,\n           COALESCE(SUM(CASE WHEN status = 'sent' THEN 1 ELSE 0 END), 0)::int AS sent_count\n    FROM public.wa_template_log\n    WHERE brand = current_setting('app.brand', true)\n      AND created_at >= now() - interval '24 hours'\n)\nSELECT '{{$json.brand}}'::text AS brand,\n       events.total_events,\n       templates.total_templates,\n       templates.sent_count,\n       (events.total_events = templates.total_templates) AS acceptance_match\nFROM events, templates;"
      },
      "id": "6",
      "name": "Fetch Acceptance Window",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        700,
        420
      ],
      "credentials": {
        "postgres": "Supabase"
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": false,
              "value2": "={{$json.acceptance_match}}"
            }
          ]
        }
      },
      "id": "7",
      "name": "Acceptance Mismatch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        420
      ]
    },
    {
      "parameters": {
        "channel": "#alerts-whatsapp",
        "text": "=:warning: {{$json.brand}} acceptance mismatch detected. Events={{$json.total_events}} vs Sends={{$json.total_templates}} (Sent OK={{$json.sent_count}})."
      },
      "id": "8",
      "name": "Slack Acceptance Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1220,
        420
      ],
      "credentials": {
        "slackApi": "Slack Bot"
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Fetch Brands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Brands": {
      "main": [
        [
          {
            "node": "Fetch Unmetered Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Acceptance Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unmetered Count": {
      "main": [
        [
          {
            "node": "Unmetered Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unmetered Pending?": {
      "main": [
        [
          {
            "node": "Slack Unmetered Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Acceptance Window": {
      "main": [
        [
          {
            "node": "Acceptance Mismatch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acceptance Mismatch?": {
      "main": [
        [
          {
            "node": "Slack Acceptance Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
